.news-article {
    display: flex;
    position: relative;
    flex-direction: column;
    row-gap: .6rem;
    color: var(--color-base-font);
}
.news-article-header {
    font-weight: 600;
    font-size: var(--news-article-header-font-size);
    line-height: 1.3;
    margin: 0;
}
.news-article-datetime {
    margin-top: -.3rem;
}
.news-article-datetime--article{
    margin-top: .1rem;
    text-align: right;
    font-size: var(--datetime-font-size);
    color: var(--color-base-font);
}
.news-article-link {
    text-decoration: none;
}
.news-article-image img { /* Höjd och vidd sätts för att det innehållet inte ska röra sig om bild-inladdniingen tar tid*/
    display: block;
    transition: all .3s ease-in-out;
    width: 100%;
    max-height: 56.25%; /* Ihop med width får bilden ett 16/9 ratio */
    border-radius: 3px;
}
.news-article-header {
    transition: all .3s ease-in-out;
}
.news-article-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.news-article-link:hover .news-article-image img {
    filter: brightness(50%);
}
.news-article-link:hover .news-article-header {
    text-decoration: underline;
    transition: all .3s ease-in-out;
}
.news-page-article {
    max-width: 64rem; /* 1024px */
    width: 100%;
} 
.news-page-article__image {
    max-width: 80%;
}
.news-page-article__image img{
    border-radius: 2px;
}
@media (max-width: 768px) { /* Media query som sätter full bredd stående ipad mini  */
    .news-page-article__image {
        max-width: 100%; 
    }
}
.news-page-article__image + h1 {
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.news-page-article__ingress {
    font-size: var(--ingress-font-size);
}
.news-page-article h2 {
    font-size: var(--news-page-article-h2-font-size);
    font-weight: 500;
    margin: 1rem 0 0 0;
}
.news-page-article__divider {
    height: 1px;
    background-color: var(--color-border);
    transform: scaleY(0.5);
    transform-origin: center;
    margin: 1.4rem 0 1rem;
}
.news-article-image--about {
    max-width: 45%;
    float: inline-end;
    margin: 0 0 0 2rem;
}