/* gömmer compact view knappen för allt över 768px (över stående ipad mini) */
.top-menu-button-container {
    display: none;
}
/* Style för  compact view */
@media (max-width: 768px) {
    .top-menu-button-container {
        display: block;
    }
    .top-menu-button-container {
        padding-left: 1.85rem;
    }
    .top-menu-button {
        background-color: var(--color-main-white);
        border: none;
        padding: 0 2px;
        min-height: 45.1875px;
        max-height: 45.1875px;
    }
     .top-menu-button .button-text {
        display: inline-block;
        position: relative;
        margin: 0;
        padding-left: 2px;
        top: -6px;
        color: var(--color-main-black);
    }
    .top-menu-list{
        display: none;
    }
    .top-menu-list.open {
        display: block;
    }
    .material-symbols-outlined.menu {
        font-size: 2rem;
        color: var(--color-base-font);
        padding: 0;
        right: 0;
        top: 4px;
    }
    .top-menu-item {
        border-bottom: 1px solid var(--color-border);
    }
    .top-menu-item:first-child {
        border-top: 1px solid var(--color-border);
    }
    .top-menu-item:last-child {
        border-bottom: none;
    }
    .top-menu-link,
    .top-menu-link:visited  {
        padding-left: 4px;
        padding-right: 4px;
        padding: 5px;
        margin: 4px 0;
    }
    .top-menu-link.selected, 
    .top-menu-link.selected:hover {
        background-color: var(--color-main-background);
        color: var(--color-base-font);
        border: none;
        text-decoration: none;
    }
    .top-menu-link.selected--news:focus-visible {
        border-bottom: 2px solid transparent;
    }
    .top-menu-link.selected--news:hover {
        border-bottom: 2px solid var(--colo-link-border-bottom);
    }
    .top-menu-link.selected, 
    .top-menu-link.selected:hover {
        border-left: solid 3px #333;
    }   
    .top-menu-link:hover, 
    .top-menu-link:focus {
        background-color: var(--color-main-background);
        color: var(--color-base-font);
        border: none;
        text-decoration: underline;
    }
    .top-menu-link.selected--news {
        margin-bottom: 0;
    }
    .material-symbols-outlined.home {
        color: var(--color-main-black)!important;
        background: var(--color-main-white)!important;
        text-decoration: none;
    }
    /* för att dölja hover under husikonen */
    .material-symbols-outlined.home:after {
        content: '';
        display: block;
        height: 2px;
        background: #fff;
        width: 100%;
        bottom: 0px;
        position: absolute;
    }
}