/* Alla var(token) värden hämtas från tokens.css filen */
body {
    font-family: Arial, Helvetica, sans-serif; /* default font-familj */
    font-size: var(--body-font-size);
    display: grid;
    grid: auto auto auto / 1fr minmax(1px, var(--main-aria-pagetype-max-width)) 1fr;
    grid-template-areas: /* Specifiserar gridens kontainers tre rader och tre kolumner */
        "header header header"
        ". main-content ." /* centrerar main innehållet */
        "footer footer footer";
    background-color: var(--color-main-background);
    color: var(--color-base-font);
    margin-bottom: 2rem;
}
header{
    grid-area: header; /* mappar header kontainern grid rad */
}
.logo-container {
    background-color: var(--color-main-background);
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}
.logo-container, .main-content-area, .top-menu-list {
    padding: 0 2rem;
}
.main-content-area {
    margin: 1rem 0 2rem;
}
.main-content-area--center {
    display: flex;
    justify-content: center;
}
.breadcrumb-list {
    padding: 0;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}
.breadcrumb-list a:hover {
    background-color: var(--color-link-hover);
}
.breadcrumb-list a:visited {
    color: var(--color-main-black);
}
.breadcrumb-item {
    padding-right: .5rem;
}
main {
    grid-area: main-content; /* mappar main kontainern grid rad */
}
h1 {
    font-size: var(--h1-font-size);
    font-weight: 500;
    margin-bottom: .5rem;
}
h2 {
    font-size: var(--h2-font-size);
    font-weight: 500;
    margin: .5rem 0 1.5rem;
}
h3 {
    font-size: var(--h3-font-size);
    margin-bottom: .2rem;
}
p {
    margin: 0 0 1.2rem;
}
.ingress {
    font-size: var(--ingress-font-size);
}
.italic {
    font-style: italic;
}
.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(332.1px, 1fr)); /* Tre kolumner */
    gap: 1rem;
    position: relative;
    padding-top: 4rem;
}
.header-grid {
    position: absolute;
}
@media (max-width: 1100px) {
    .news-grid {
        grid-template-columns: repeat(auto-fit, minmax(309.1px, 1fr)); /* Blir två kolumner */
    }
}
.news-page-content {
    max-width: var(--news-page-content-max-width);
    width: 100%;
}
/* Default styles för googles material ikoner */
.material-symbols-outlined {
    font-size: 1rem;
    position: relative;
    top: 3px;
    padding-left: 4px;
    background: var(--color-main-white);
    right: 5px;
    color: var(--color-base-font);
}
/* Css för cookie consent */
.cookie-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    text-align: center;
    padding: 15px;
    display: none;
    z-index: 1000;
}

.cookie-container p {
    margin: 0;
    display: inline;
}

.cookie-container .open-new-window {
    background-color: transparent;
    color: var(--color-main-white);
    padding-left: .5rem;
}
.button-accept {
    background-color: var(--color-button-accept);
    color: white;
    border: solid #999 1px;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.button-accept:hover {
    background-color: var(--color-button-accept-hover);
}
.accept-cookie-link {
    color: var(--color-main-white);
    text-decoration: none;
}
.accept-cookie-link:hover {
    text-decoration: underline;
}

/* Skip länk */
.skip-link {
    position: absolute;
    top: -3rem; /* Gömmer kontainern i default */
    left: 2rem;
    background-color: var(--color-main-black);
    color: var(--color-main-white);
    padding: .625rem;
    z-index: 1000;
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: top 0.3s ease;
  }
  
  /* Skip kontainern vid fokus */
  .skip-link:focus {
    top: 2rem; 
    left: 2rem;
  }