@import url("reset.css"); /* importerar Joch Comeaus reset-styles */
:root {
    /* css variabler */
    --button-hover-color: color-mix(in srgb, #000 10%, #808000);
    --button-active-color: color-mix(in srgb, #000 20%, #808000);
}
body {
    font-family: Arial, Helvetica, sans-serif; /* ltu.html siadans default font-familj */
    margin: 2rem;
}
@media (max-width: 414px) {
    body {
        margin: 1rem; /* Media query som minskar marginalen på body elementet */
    }
}