/* Skriv en extern stilmall som innehåller följande regler:

För elementen h1-h6 används typsnitt Arial, Helvetica, sans-serif.
För övrig text används typsnitt Candara, Verdana, sans-serif
Tabell1: bakgrundsfärg #ffcccc
Tabell2: bakgrundsfärg #ffcc99
Gröna färgen till texten längst ner: #009900
Länken ska ändra färg/bakgrundsfärg när man drar muspekaren över den (:hover)
Du ska använda dig både klasser och id i mallen. */

body {
    font-family: Candara, Verdana, sans-serif;
    margin: 2rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}
.lista{
    list-style-type: none;
}
.tabell1, .tabell2 {
    padding: 1rem;
    border: solid 1px #333;
}
tbody tr:first-child td {
    padding-top: .5rem;
}
th {
    text-align: left;
    border-bottom: solid 1px #333;
}
caption {
    text-align: left;
    font-weight: 600;
}
.tabell1 {
    background-color: #ffcccc;
}
.tabell1 td:first-child{
    padding-right: 1rem;
}
.tabell2 {
    background-color: #ffcc99;
}
.foot {
    color: #aaa;
    background-color: #000;
    font-style: italic;
}
#source {
    color: #009900;
    text-align: right;
}
#source a:hover {
    color: #fff;
    background-color: #888;
}